*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #d9d9d9;
}

.content{
	background: #2e2e2e;
	height: 500px;
	width: 350px;
	margin: 100px;
	text-align: center;
}

#resultado-mostra{
	width: 80%;
	margin: 20px 0px;
	padding: 3px 0px;
	border-radius: 3px;
	border: none;


}